API_KEY=YOUR-API-KEY
ENDPOINT= YOUR-CLOUD-PROVIDER
MODEL_ID = "openai/gpt-4o-mini"

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=YOUR-API-KEY
LANGSMITH_PROJECT=Your-Project-Name